/*mobile*/
@media only screen and (max-device-width : 768px){
.section3-para p {font-weight: 400;width: 100%;font-size: 15px;text-align: left;}
.pad-ad{padding-bottom:7rem !important}
.pad-ad{padding-top:5rem !important}
.section6-para p {font-weight: 400;width: 100%;font-size: 15px;text-align: left;}
.section3-heading h1 {font-weight: 700;font-size: 35px;}
.section3-heading{padding:0 !important;}
.section3-para{padding: 25px 0px 10px !important;}
.section3-years{margin:0 auto !important;}
.section3-years h1 {font-weight: 700;position: relative;font-size: 4rem;}
.section3-years .sub-txt {font-weight: 600;position: absolute;font-size: 25px;top: 3px;}
.section3-years h1:after {content: "EXPERIENCE";position: relative;font-weight: 600;font-size: 25px;left: 0px;top: 0px;}
.section3-years a .button {position: absolute;right: auto;left: 6%;top: 95%;padding: 5px 12px;font-size: 12px;border-radius: 0px;box-shadow: none;}
.section4-heading h1 {font-weight: 700;font-size: 35px;text-align: center;}
.section4-para {font-weight: 400;padding: 15px 0;text-align: center;font-size: 15px;}
.section4 .button {padding: 5px 18px;text-transform: inherit;border-radius: 0;background-color: #004F81;font-size: 12px;}
.section5-heading h1 {font-weight: 700;font-size: 40px;padding-bottom: 35px;text-align:center;}
.font-size-adjst {font-size: 30px;font-weight:400;}
.count-title{font-size:45px;}
.counter {border:none;text-align: center;}
.count-text {font-size: 20px;top: 0;}
.section7-heading h1 {font-weight: 700;font-size: 45px;}
.section7-heading{padding:0 !important;}
.mobile-pad{padding-bottom:0 !important;}
.section8-heading h1 {font-weight: 700;text-align:center;font-size: 35px;padding-top:30px;}
.client-box {text-align:center;padding-bottom:45px;}
.client-box img{width:50%;}
.carousel {position: relative;margin-top:0px;}
.d-none {display: block!important;}
.carousel-caption {top: 38% !important;}
.slider-caption h1 {font-size:1.5rem;}
.slider-caption a .button {margin-top: 5px;padding: 5px 25px;border-radius: 50px;font-size: 12px;}
.animated-btn {width: 45px;height: 45px;top:20%;left: 42%;z-index: 97;}
.animated-btn i {top: 16px;font-size: 15px;}
nav ul li a {line-height: 40px !important;}
nav ul {padding: 40px;}
.section2 .carousel-inner .carousel-item{height:300px;}
.section2 .carousel-inner .carousel-item img{height:100%;}
.display-4{font-size:25px;}
.height-adjst {padding: 35px 0px;}
.display-off-mob{display:none !important;}
.padd-mob{margin-top:65%;}
.margin-add{position:relative;height: fit-content;}
.modal-header h5 {font-size: 18px;padding: 18px 0;text-align: left;}
.body-popup { padding: 1rem;}
.modal-dialog {max-width: 95%;margin: 6rem auto;}
.career-form-experiance li{font-size:12px;}
.tab-pane p{font-size:12px;}
.tab-pane h2{font-size:22px;}
.align-abt-ban {padding-bottom: 0rem !important;padding-top: 7rem !important;}
.button { padding: 5px 25px;font-size:10px;}
.text-muted {color: #6c757d!important;font-size: 12px; margin: 25px auto;}
.ser-font{font-size:15px;}
.box-height {height: 540px;}
.career-head2 {font-size: 40px;color: #004f81;}
.career-head {font-size: 35px;color: #000;}
.txt-values {font-size: 15px;}
.page-holder {min-height: 35vh;}
.saudi-flag {width: 8%;right: 5px;margin-bottom: -10px;}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
     .ctn-preloader video {
          width:100%;
          height:auto;
          overflow:hidden;
        }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
	nav {
    padding: 10px 50px;
}
nav.black {
    padding: 10px 50px;
}

/*nav > ul > li > a {
    padding: 5px 7px;
}*/

/*nav .logo img {
    height: 90px;
    transition: .5s;
    margin-top: 30px;
}*/

.saudi-flag {
    width: 8%;
    top:4px;
}

nav.black .logo img {
    height: 90px;
}

.slider-caption h1 {
    font-size: 40px;
}

.button {
    padding: 5px 30px;
}

.section3-heading h1 {
    font-weight: 700;
    font-size: 35px;
}

.section3-years h1 {
    font-weight: 700;
    position: relative;
    font-size: 75px;
}

.section3-years a .button {
    position: absolute;
    right: 0;
    top: 73%;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 15px;
}

.section4-heading h1 {
    font-weight: 700;
    font-size: 35px;
}

.text-muted {
    color: #6c757d!important;
    font-size: 12px;
}


.font-weight-bold {
    font-weight: 700!important;
    font-size: 35px;
    padding-bottom: 15px;
}

.ser-font{
	font-size:18px !important;
}

.box-height {
    height: 550px;
}

.font-size-adjst {
    font-size: 30px;
}

.section5-heading h1 {
    color: #fff;
    font-weight: 600;
    font-size: 45px;
}

.section6-para p {
    font-weight: 400;
    width: 580px;
    max-width: 600px;
    font-size: 12px;
}

.section8-heading h1 {
    font-weight: 600;
    font-size: 40px;
}

.section4-para {
    font-weight: 400;
    padding: 25px 80px;
    font-size: 12px;
}

.bg-cover {
    background-size: cover !important;
    height: 45vh;
}

.height-adjst {
    height: fit-content;
    margin-top: 75px;
    margin-bottom: 100px;
}

}